USE [master]
GO
/****** Object:  Database [la_ross_db]    Script Date: 21/06/2025 04:28:25 a. m. ******/
CREATE DATABASE [la_ross_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LaRoss_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LaRoss_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LaRoss_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LaRoss_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [la_ross_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [la_ross_db]
GO
/****** Object:  Table [dbo].[Articulos]    Script Date: 21/06/2025 04:28:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[codigo_barras_original] [varchar](50) NOT NULL,
	[codigo_barras] [varchar](50) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[id_marca] [int] NOT NULL,
	[id_color] [int] NOT NULL,
	[id_talla] [int] NOT NULL,
	[id_sexo] [int] NOT NULL,
	[foto] [varchar](255) NULL,
	[precio_venta] [money] NOT NULL,
	[precio_costo] [money] NOT NULL,
	[stock] [int] NOT NULL,
	[estatus] [bit] NOT NULL,
	[id_categoria] [int] NULL,
 CONSTRAINT [PK__Articulo__FF341C0DEB0384E7] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 21/06/2025 04:28:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[id_venta] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[hora] [varchar](50) NULL,
	[cantidad_productos] [int] NOT NULL,
	[total] [money] NOT NULL,
	[estatus] [bit] NOT NULL,
	[forma_pago] [varchar](50) NOT NULL,
	[fecha_editado] [datetime] NULL,
	[id_usuario_editado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 21/06/2025 04:28:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_venta] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [money] NOT NULL,
	[subtotal] [money] NOT NULL,
	[fecha_editado] [datetime] NULL,
	[id_usuario_editado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewCorte]    Script Date: 21/06/2025 04:28:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[ViewCorte] AS
SELECT 
    a.nombre AS Nombre,
    SUM(dv.cantidad) AS Cantidad,
    SUM(dv.subtotal) AS Total,
    v.fecha
FROM DetalleVenta dv
INNER JOIN Venta v ON dv.id_venta = v.id_venta
INNER JOIN Articulos a ON dv.id_producto = a.id_producto
GROUP BY a.nombre, v.fecha;
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 21/06/2025 04:28:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[estatus] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colores]    Script Date: 21/06/2025 04:28:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colores](
	[id_color] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[estatus] [bit] NOT NULL,
 CONSTRAINT [PK__Colores__7CF2AF03B233D635] PRIMARY KEY CLUSTERED 
(
	[id_color] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 21/06/2025 04:28:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[id_marca] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[estatus] [bit] NOT NULL,
 CONSTRAINT [PK__Marcas__7E43E99EE265E680] PRIMARY KEY CLUSTERED 
(
	[id_marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sexos]    Script Date: 21/06/2025 04:28:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sexos](
	[id_sexo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [char](1) NOT NULL,
	[estatus] [bit] NOT NULL,
 CONSTRAINT [PK__Sexos__D692FEE6EF3B14E6] PRIMARY KEY CLUSTERED 
(
	[id_sexo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tallas]    Script Date: 21/06/2025 04:28:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tallas](
	[id_talla] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](10) NOT NULL,
	[estatus] [bit] NOT NULL,
 CONSTRAINT [PK__Tallas__C16F403D13654B32] PRIMARY KEY CLUSTERED 
(
	[id_talla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 21/06/2025 04:28:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[contra] [varchar](50) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[permisos] [nvarchar](max) NULL,
	[estatus] [bit] NOT NULL,
 CONSTRAINT [PK__Usuarios__3213E83FAECDB762] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Articulos] ON 

INSERT [dbo].[Articulos] ([id_producto], [codigo_barras_original], [codigo_barras], [nombre], [id_marca], [id_color], [id_talla], [id_sexo], [foto], [precio_venta], [precio_costo], [stock], [estatus], [id_categoria]) VALUES (1, N'112231232', N'00000001', N'Test 1', 5, 1, 1, 1, N'576ba53a-12a1-46bb-9905-93a94b19bec3.jpg', 300.0000, 100.0000, 1, 1, 1)
INSERT [dbo].[Articulos] ([id_producto], [codigo_barras_original], [codigo_barras], [nombre], [id_marca], [id_color], [id_talla], [id_sexo], [foto], [precio_venta], [precio_costo], [stock], [estatus], [id_categoria]) VALUES (2, N'dsgfsdfs', N'00000002', N'test 2', 1, 3, 2, 2, N'c4d73583-2c77-4b38-830c-516e573c7f6a.jpg', 22.0000, 1.0000, 3, 1, 3)
INSERT [dbo].[Articulos] ([id_producto], [codigo_barras_original], [codigo_barras], [nombre], [id_marca], [id_color], [id_talla], [id_sexo], [foto], [precio_venta], [precio_costo], [stock], [estatus], [id_categoria]) VALUES (3, N'2323', N'00000003', N'test 3', 1, 3, 2, 2, N'20250620060758992.jpg', 333.0000, 33.0000, 2, 1, 3)
SET IDENTITY_INSERT [dbo].[Articulos] OFF
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([id_categoria], [nombre], [estatus]) VALUES (1, N'Categoria 1', 1)
INSERT [dbo].[Categorias] ([id_categoria], [nombre], [estatus]) VALUES (2, N'Categoria 2', 1)
INSERT [dbo].[Categorias] ([id_categoria], [nombre], [estatus]) VALUES (3, N'Categoria 3', 1)
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Colores] ON 

INSERT [dbo].[Colores] ([id_color], [nombre], [estatus]) VALUES (1, N'Color 1', 1)
INSERT [dbo].[Colores] ([id_color], [nombre], [estatus]) VALUES (2, N'Color 2', 1)
INSERT [dbo].[Colores] ([id_color], [nombre], [estatus]) VALUES (3, N'Color 3', 1)
SET IDENTITY_INSERT [dbo].[Colores] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleVenta] ON 

INSERT [dbo].[DetalleVenta] ([id_detalle], [id_venta], [id_producto], [cantidad], [precio_unitario], [subtotal], [fecha_editado], [id_usuario_editado]) VALUES (1, 1, 1, 1, 300.0000, 300.0000, CAST(N'2025-06-21T03:34:46.543' AS DateTime), 1)
INSERT [dbo].[DetalleVenta] ([id_detalle], [id_venta], [id_producto], [cantidad], [precio_unitario], [subtotal], [fecha_editado], [id_usuario_editado]) VALUES (2, 2, 2, 2, 22.0000, 44.0000, CAST(N'2025-06-21T03:37:11.297' AS DateTime), 1)
INSERT [dbo].[DetalleVenta] ([id_detalle], [id_venta], [id_producto], [cantidad], [precio_unitario], [subtotal], [fecha_editado], [id_usuario_editado]) VALUES (3, 3, 6, 5, 300.0000, 1500.0000, CAST(N'2025-06-21T03:38:34.480' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[DetalleVenta] OFF
GO
SET IDENTITY_INSERT [dbo].[Marcas] ON 

INSERT [dbo].[Marcas] ([id_marca], [nombre], [estatus]) VALUES (1, N'Dior', 1)
INSERT [dbo].[Marcas] ([id_marca], [nombre], [estatus]) VALUES (2, N'Gucci', 1)
INSERT [dbo].[Marcas] ([id_marca], [nombre], [estatus]) VALUES (3, N'Prada', 1)
SET IDENTITY_INSERT [dbo].[Marcas] OFF
GO
SET IDENTITY_INSERT [dbo].[Sexos] ON 

INSERT [dbo].[Sexos] ([id_sexo], [nombre], [estatus]) VALUES (1, N'1', 1)
INSERT [dbo].[Sexos] ([id_sexo], [nombre], [estatus]) VALUES (2, N'2', 1)
INSERT [dbo].[Sexos] ([id_sexo], [nombre], [estatus]) VALUES (3, N'3', 1)
SET IDENTITY_INSERT [dbo].[Sexos] OFF
GO
SET IDENTITY_INSERT [dbo].[Tallas] ON 

INSERT [dbo].[Tallas] ([id_talla], [nombre], [estatus]) VALUES (1, N'Talla 1', 1)
INSERT [dbo].[Tallas] ([id_talla], [nombre], [estatus]) VALUES (2, N'Talla 2', 1)
INSERT [dbo].[Tallas] ([id_talla], [nombre], [estatus]) VALUES (3, N'Talla 211', 0)
SET IDENTITY_INSERT [dbo].[Tallas] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([id], [nombre], [apellido], [contra], [username], [tipo], [permisos], [estatus]) VALUES (1, N'JESUS', N'VARA', N'1', N'CAJA', N'CAJA', NULL, 1)
INSERT [dbo].[Usuarios] ([id], [nombre], [apellido], [contra], [username], [tipo], [permisos], [estatus]) VALUES (2, N'ADMIN', N'ADMIN', N'1', N'ADMIN', N'ADMIN', NULL, 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Venta] ON 

INSERT [dbo].[Venta] ([id_venta], [fecha], [hora], [cantidad_productos], [total], [estatus], [forma_pago], [fecha_editado], [id_usuario_editado]) VALUES (1, CAST(N'2025-06-21' AS Date), N'03:34 a. m.', 1, 300.0000, 1, N'TARJETA', CAST(N'2025-06-21T03:34:46.387' AS DateTime), 1)
INSERT [dbo].[Venta] ([id_venta], [fecha], [hora], [cantidad_productos], [total], [estatus], [forma_pago], [fecha_editado], [id_usuario_editado]) VALUES (2, CAST(N'2025-06-21' AS Date), N'03:37 a. m.', 2, 44.0000, 1, N'EFECTIVO', CAST(N'2025-06-21T03:37:11.297' AS DateTime), 1)
INSERT [dbo].[Venta] ([id_venta], [fecha], [hora], [cantidad_productos], [total], [estatus], [forma_pago], [fecha_editado], [id_usuario_editado]) VALUES (3, CAST(N'2025-06-21' AS Date), N'03:38 a. m.', 5, 1500.0000, 1, N'TRANSFERENCIA', CAST(N'2025-06-21T03:38:34.463' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Venta] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Articulo__730FA6AB51D9D30A]    Script Date: 21/06/2025 04:28:25 a. m. ******/
ALTER TABLE [dbo].[Articulos] ADD  CONSTRAINT [UQ__Articulo__730FA6AB51D9D30A] UNIQUE NONCLUSTERED 
(
	[codigo_barras] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Articulos_codigo_barras_original]    Script Date: 21/06/2025 04:28:25 a. m. ******/
ALTER TABLE [dbo].[Articulos] ADD  CONSTRAINT [UQ_Articulos_codigo_barras_original] UNIQUE NONCLUSTERED 
(
	[codigo_barras_original] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__72AFBCC6894CB4C2]    Script Date: 21/06/2025 04:28:25 a. m. ******/
ALTER TABLE [dbo].[Categorias] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Colores__72AFBCC62ECAC330]    Script Date: 21/06/2025 04:28:25 a. m. ******/
ALTER TABLE [dbo].[Colores] ADD  CONSTRAINT [UQ__Colores__72AFBCC62ECAC330] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Marcas__72AFBCC603CBF681]    Script Date: 21/06/2025 04:28:25 a. m. ******/
ALTER TABLE [dbo].[Marcas] ADD  CONSTRAINT [UQ__Marcas__72AFBCC603CBF681] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Sexos__72AFBCC67960A8A3]    Script Date: 21/06/2025 04:28:25 a. m. ******/
ALTER TABLE [dbo].[Sexos] ADD  CONSTRAINT [UQ__Sexos__72AFBCC67960A8A3] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tallas__72AFBCC60C530EE3]    Script Date: 21/06/2025 04:28:25 a. m. ******/
ALTER TABLE [dbo].[Tallas] ADD  CONSTRAINT [UQ__Tallas__72AFBCC60C530EE3] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Articulos] ADD  CONSTRAINT [DF__Articulos__stock__4AB81AF0]  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[Articulos] ADD  CONSTRAINT [DF__Articulos__estat__4BAC3F29]  DEFAULT ((1)) FOR [estatus]
GO
ALTER TABLE [dbo].[Categorias] ADD  DEFAULT ((1)) FOR [estatus]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF__Usuarios__apelli__5BE2A6F2]  DEFAULT ('') FOR [apellido]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF__Usuarios__userna__5AEE82B9]  DEFAULT ('') FOR [username]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF__Usuarios__estatu__46E78A0C]  DEFAULT ((1)) FOR [estatus]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT ((1)) FOR [estatus]
GO
ALTER TABLE [dbo].[Articulos]  WITH CHECK ADD  CONSTRAINT [FK_Articulos_Categorias] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Categorias] ([id_categoria])
GO
ALTER TABLE [dbo].[Articulos] CHECK CONSTRAINT [FK_Articulos_Categorias]
GO
ALTER TABLE [dbo].[Articulos]  WITH CHECK ADD  CONSTRAINT [FK_Articulos_Colores] FOREIGN KEY([id_color])
REFERENCES [dbo].[Colores] ([id_color])
GO
ALTER TABLE [dbo].[Articulos] CHECK CONSTRAINT [FK_Articulos_Colores]
GO
ALTER TABLE [dbo].[Articulos]  WITH CHECK ADD  CONSTRAINT [FK_Articulos_Marcas] FOREIGN KEY([id_marca])
REFERENCES [dbo].[Marcas] ([id_marca])
GO
ALTER TABLE [dbo].[Articulos] CHECK CONSTRAINT [FK_Articulos_Marcas]
GO
ALTER TABLE [dbo].[Articulos]  WITH CHECK ADD  CONSTRAINT [FK_Articulos_Sexos] FOREIGN KEY([id_sexo])
REFERENCES [dbo].[Sexos] ([id_sexo])
GO
ALTER TABLE [dbo].[Articulos] CHECK CONSTRAINT [FK_Articulos_Sexos]
GO
ALTER TABLE [dbo].[Articulos]  WITH CHECK ADD  CONSTRAINT [FK_Articulos_Tallas] FOREIGN KEY([id_talla])
REFERENCES [dbo].[Tallas] ([id_talla])
GO
ALTER TABLE [dbo].[Articulos] CHECK CONSTRAINT [FK_Articulos_Tallas]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVenta_Articulo] FOREIGN KEY([id_producto])
REFERENCES [dbo].[Articulos] ([id_producto])
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [FK_DetalleVenta_Articulo]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVenta_UsuarioEditado] FOREIGN KEY([id_usuario_editado])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [FK_DetalleVenta_UsuarioEditado]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVenta_Venta] FOREIGN KEY([id_venta])
REFERENCES [dbo].[Venta] ([id_venta])
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [FK_DetalleVenta_Venta]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_UsuarioEditado] FOREIGN KEY([id_usuario_editado])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_UsuarioEditado]
GO
USE [master]
GO
